*{
    padding: 0;margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    color: #fff;
    background-color: black;
   
}
.conteiner-menu{
    display: flex;
    
    justify-content: space-between;
    padding: 5px 2px;    
    
}
.logo-name{
    color:red;
    padding: 10px;
}
.nav-bar{
    display: flex;    
    align-items: center;
    margin-right: 10px;
}
.nav-bar a{
    color: #cdcdcd;
    margin: 0 10px;
}
.nav-bar a:hover{
    color: #fff;
}
.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/img/capa-house.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .discricao{
    margin-bottom: 40px;
}
.titulo{
    font-size: 40px;

}
.botao{
    background-color: rgba(0,0,0,.50);
    padding: 15px 30px;
    margin-right: 15px;
    
    color: white;
}